# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env

# Django additional
*.migrations/
*.swp
*.swo
*.swn
*.bak
*.backup
*.tmp
*.temp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/
.DS_Store

# React
node_modules/
build/
.env

# Python
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytype/
.mypy_cache/
.dmypy.json
.pyre/
